<div class="dialog">

<h1 mat-dialog-title>Add New List</h1>
<div mat-dialog-content>
  <form [formGroup]="addListForm">
    <fieldset>
      <legend>Title</legend>
      <input type="text"
             placeholder="List Title"
             matInput
             formControlName="titleControl" />

    </fieldset>

    <br />

    <fieldset>
      <legend>Group</legend>
      <input type="text"
             placeholder="Filter Groups"
             aria-label="Number"
             (keyup)="_filterGroups($event)"
             matInput>


      <select matInput formControlName="groupControl" placeholder="Select Group">
        <option *ngFor="let group of newfilteredgroups" [value]="group">
          {{group.name}}
        </option>
      </select>

    </fieldset>
    <br />

    <fieldset>
      <legend>User</legend>
      <input type="text"
             placeholder="Filter Users"
             aria-label="Number"
             matInput
             (keyup)="_filterUsers($event)">
             
      <select formControlName="userControl" placeholder="Select User">
        <option *ngFor="let user of newfilteredusers" [value]="user" >
          {{user.email}}
        </option>
      </select>

    </fieldset>

  </form>


</div>


<div mat-dialog-actions>
  <button mat-button (click)="formSubmit(addListForm.value)">Add List</button>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div>

</div>
