<p>list-item works!</p>
<div *ngIf="listItem">
  <h1>{{listItem.listItemId}}</h1>
  <h1>{{listItem.maintenanceListId}}</h1>
  <h1>{{listItem.name}}</h1>
  <h1>{{listItem.location.locationId}}</h1>
  <h1>{{listItem.location.name}}</h1>
  <h1>{{listItem.cost}}</h1>
  <h1>{{listItem.maintenanceSchedule.maintenanceScheduleId}}</h1>
  <h1>{{listItem.maintenanceSchedule.maintenanceInterval}}</h1>
  <h1>{{listItem.maintenanceSchedule.lastCompleted}}</h1>
  <h1>{{listItem.maintenanceSchedule.nextScheduledEventForcasted}}</h1>
  <h1>{{listItem.maintenanceSchedule.nextScheduledEventPlanned}}</h1>
  <h1>{{listItem.maintenanceSchedule.yearsToDelay}}</h1>
  <h1>{{listItem.comments}}</h1>
  <h1>{{listItem.pictures}}</h1>


</div>
