<div *ngIf="newList === true; else elseBlock">
  <h1>Add Item</h1>
  <button mat-raised-button (click)="backToList()">View List</button>


</div>
<ng-template #elseBlock>
  <div class="pageHeader">
    <h1>Edit Item</h1>
    <div>
      <button mat-raised-button (click)="backToList()">View List</button>
      <button type="button" (click)="goToListFilesPage()">Manage List Files</button>

      <button mat-raised-button (click)="openDialog()">Delete Item</button>

    </div>


  </div>
</ng-template>




<form [formGroup]="listItemForm" (ngSubmit)="submit(listItemForm.value)">
 
  <fieldset>
    <legend>Name</legend>
    <input matInput type="text" formControlName="name"/>
  </fieldset>

  <fieldset>
    <legend>Location</legend>
    <input matInput type="text" formControlName="location"/>
  </fieldset>

  <fieldset>
    <legend>Priority</legend>
    <input matInput type="text" formControlName="priority"/>
  </fieldset>

  <fieldset>
    <legend>Total Cost</legend>
    <input matInput type="number" formControlName="totalCost"/>
  </fieldset>

  <fieldset>
    <legend>Cost per Year</legend>
    <input matInput type="number" formControlName="costPerYear"/>
  </fieldset>

  <fieldset>
    <legend>Maintenance Interval</legend>
    <input matInput type="number" formControlName="maintenanceInterval"/>
  </fieldset>

  <fieldset>
    <legend>Maintenance Interval Type</legend>
    <select formControlName="maintenanceIntervalType">
      <option>Calendar Years</option>
      <option>Starts</option>
      <option>Operating Hours</option>
      <option>Offline Hours</option>
      <option>Occurances</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Last Completed</legend>
    <input matInput type="date" formControlName="lastCompleted"/>
  </fieldset>

  <fieldset>
    <legend>Next Scheduled Event</legend>
    <input matInput type="date" formControlName="nextScheduledEvent"/>
  </fieldset>

  <fieldset>
    <legend>Comments</legend>
    
    <textarea matInput type="text" formControlName="comments"></textarea>
  </fieldset>

  <button type="submit">Save</button>


</form>
