
<div class="container">
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <h1>User Edit Page</h1>

    <label for="firstname">First Name</label>
    <input id="firstname" type="text" class="fortextbox" name="FirstName" placeholder="First Name"
           formControlName="FirstName">
    <br />

    <label for="lastname">Last Name</label>
    <input id="lastname" type="text" class="fortextbox" name="LastName" placeholder="Last Name"
           formControlName="LastName">
    <br />

    <label for="username">Username</label>
    <input id="username" type="text" class="fortextbox" name="UserName" placeholder="Username"
           formControlName="UserName">
    <br />

    <!--<label for="group">Group</label>
  <input id="group" type="text" class="fortextbox" name="Group" placeholder="Group Name"
         formControlName="Group">-->
    <label for="email">Email</label>
    <input id="email" type="text" class="fortextbox" name="Email" placeholder="Email"
           formControlName="Email">
    <br />

    <mat-form-field>
      <label for="group">Group</label>
      <input type="text"
             name="group"
             placeholder="Pick group"
             aria-label="Number"
             matInput
             formControlName="Group"
             [matAutocomplete]="abc">
      <mat-autocomplete autoActiveFirstOption #abc="matAutocomplete" [displayWith]="getGroupDisplayFn()">
        <mat-option *ngFor="let group of groups" [value]="group" (onSelect)="selectGroup(group)">
          {{group.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br />
    
    <mat-form-field>
      <label for="roles">Role</label>
      <br />
      <select matNativeControl matInput formControlName ="Role" name="roles" id="roles">
        <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
      </select>
    </mat-form-field>

    <br />

    <!--<label>Select lists you want this user to have access to:</label>
  <div><mat-checkbox>List1</mat-checkbox></div>
  <div><mat-checkbox>List2</mat-checkbox></div>


  <label for="subject">Notes</label>
  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>-->

    <input type="submit" class="forsubmit" value="Submit">
    <button (click)="deleteUser()">Delete User </button>
  </form>
</div>
