
<div class="container">
  <form action="action_page.php">
    <h1>User Edit Page</h1>
    <label for="fname">First Name</label>
    <p>{{userdata.firstname}}</p>

    <label for="lname">Last Name</label>
    <p>{{userdata.lastname}}</p>

    <label for="uname">Username</label>
    <p>{{userdata.userName}}</p>

    <label for="role">Group</label>
    <p>{{userdata.group}}</p>

    <label for="company">Email</label>
    <p>{{userdata.email}}</p>

    <label>Select lists you want this user to have access to:</label>
    <div><mat-checkbox>List1</mat-checkbox></div>
    <div><mat-checkbox>List2</mat-checkbox></div>


    <label for="subject">Notes</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <div class="buttons">
      <div class="action_btn">
        <button name="submit" class="action_btn submit" type="submit" value="Save" onclick="myFunction()">Save</button>
        <button name="submit" class="action_btn edit" type="submit" value="Edit" onclick="myFunction2()">Edit</button>

      </div>
    </div>

  </form>
</div>
