
<!--<button (click) ="addList()">Add List</button>-->
<form (ngSubmit)="formSubmit(addListForm.value)" [formGroup]="addListForm">
  <mat-form-field>
    <input type="text"
           placeholder="Pick group"
           aria-label="Number"
           matInput
           formControlName="groupControl"
           [matAutocomplete]="groups">
    <mat-autocomplete autoActiveFirstOption #groups="matAutocomplete">
      <mat-option *ngFor="let group of allGroups$ | async" [value]="group">
        {{group}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           formControlName="userControl"
           [matAutocomplete]="users">
    <mat-autocomplete autoActiveFirstOption #users="matAutocomplete" [displayWith]="getDisplayFn()">
      <mat-option *ngFor="let user of allUsers" [value]="user" (onSelect)="selectUser(user)">
        {{user.email}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
    <input
     type="text"
      placeholder="title"
           matInput
           formControlName="titleControl"
      />
    <button type="submit">Add List</button>
</form>
<!--<input type="text" [(NgModel)]="title" />-->

<h2>My Lists</h2>
<div class="listOfMaintenanceLists">
  <div *ngFor="let list of lists$ | async" (click)="onSelect(list)" >
    <div class="maintenanceList">

    <label for="listTitle" class="label">Title: </label>
    <span name="listTitle" class="text">{{list.title}}</span>
    <br />
    <label for="listGroup" class="label">Group: </label>
    <span name="listGroup" class="text">{{list.group}}</span>
    <br />
    <label for="listOwner" class="label">Owner: </label>
    <span name="listOwner" class="text">{{list.applicationUser.firstName}} {{list.applicationUser.lastName}} {{list.applicationUser.email}}</span>
    </div>
    
  </div>
</div>
