<div class="body">

<button mat-raised-button (click)="openDialog()">Add List</button>


<h2>My Lists</h2>
  <form>

<input matInput type="text" id="filterInput" name="filterInput" [formControl]="filterControl"/>
  </form>

<div class="listOfMaintenanceLists">
  <div *ngFor="let listRow of listRows$ | async" (click)="onSelect(listRow.list)" >
    <div class="maintenanceList">

    <label for="listTitle" class="label">Title: </label>
    <span name="listTitle" class="text">{{listRow.list.title}}</span>
    <br />
    <label for="listGroup" class="label">Group: </label>
    <span name="listGroup" class="text">{{listRow.group.name}}</span>
    <br />
    <label for="listOwner" class="label">Owner: </label>
    <span name="listOwner" class="text">{{listRow.applicationUser.firstname}} - {{listRow.applicationUser.lastname}} - {{listRow.applicationUser.email}}</span>
    </div>
    
  </div>
</div>
</div>
