<div *ngIf="fullList" class="body">

  <div class="pageHeader">
    <h1>List Details</h1>
    <div class="listFunctions">
      <button type="button" (click)="addItem()">Add Item</button>
      <button type="button">Manage User Access</button>
      <button type="button" (click)="openDialog()">Delete List</button>


    </div>
  </div>

  <div class="listDetails">
    <div>
      <label for="Title" class="label">Title: </label>
      <span name="Title">{{fullList.maintenanceList.title}}</span>
    </div>

    <div>
      <label for="Group" class="label">List Group: </label>
      <span name="Group">{{fullList.group.name}}</span>
    </div>

    <div>
      <label for="CreateDate" class="label">Creation Date:</label>
      <span name="CreateDate">{{fullList.maintenanceList.creationDate}}</span>
    </div>

    <div>
      <label for="EditDate">Last Edit Date:</label>
      <span name="EditDate">{{fullList.maintenanceList.lastEditDate}}</span>
    </div>

  </div>
  <h2>List Items</h2>
  <form>

    <input matInput type="text" id="filterInput" name="filterInput" [formControl]="filterControl" />
  </form>
  <div class="listOfMaintenanceListItems">
    <div *ngFor="let item of fullList.maintenanceList.listItems" (click)="selectItem(item)">
      <div class="maintenanceListItem">
        <p>{{item.name}}</p>

      </div>
    </div>
  </div>
</div>
