<div *ngIf="fullList" class="body">

  <div class="pageHeader">
    <h1>List Details</h1>
    <div class="listFunctions">
      <button type="button" (click)="addItem()">Add Item</button>
      <button type="button" (click)="goToListAccessPage()">Manage User Access</button>
      <button type="button" (click)="goToListFilesPage()">Manage List Files</button>
      <button type="button" (click)="openDialog()">Delete List</button>
    </div>


  </div>

  <div class="listDetails">
    <div>
      <label for="Title" class="label">Title: </label>
      <span name="Title">{{fullList.title}}</span>
    </div>

    <div>
      <label for="Group" class="label">List Group: </label>
      <span name="Group">{{listGroup.name}}</span>
    </div>

    <div>
      <label for="CreateDate" class="label">Creation Date:</label>
      <span name="CreateDate">{{fullList.creationDate | date:'MMMM d, y, h:mm:ss a'}}</span>
    </div>

    <div>
      <label for="EditDate">Last Edit Date:</label>
      <span name="EditDate">{{fullList.lastEditDate | date:'MMMM d, y, h:mm:ss a'}}</span>
    </div>

  </div>
  <h2>List Items</h2>
  <form>
    <input matInput type="text" id="filterInput" name="filterInput" [formControl]="filterControl" (keyup)="filterItems($event)"  class="tableFilter" placeholder="Filter Items"/>
  </form>

  <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)">
    <!--<tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="location">Location</th>
      <th mat-sort-header="priority">Priority</th>
      <th mat-sort-header="nextevent">Next Scheduled Event</th>
    </tr>
    <tr *ngFor="let item of sortedData" (click)="selectItem(item)">
      <td>{{item.name}}</td>
      <td>{{item.location}}</td>
      <td>{{item.priority}}</td>
      <td>{{item.nextScheduledEvent | date:'MMMM d, y'}}</td>
    </tr>-->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
      <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="location"> Location </th>
      <td mat-cell *matCellDef="let item"> {{item.location}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="priority"> Priority </th>
      <td mat-cell *matCellDef="let item"> {{item.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="nextevent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nextevent"> Next Scheduled Event </th>
      <td mat-cell *matCellDef="let item"> {{item.nextScheduledEvent | date:'MMMM d, y'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="selectItem(item)"></tr>

  </table>

  <mat-paginator #pageinator [pageSizeOptions]="[25,50, 100]" aria-label="Select page of users"></mat-paginator>


</div>
