.body {
  padding-bottom: 30px;
  width: 100%;
}

.listDetails {
    margin-bottom: 20px;
}

/*.pageHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
  .pageHeader h1 {
   flex: 50%;
    padding: 0px;
    
  }

  .pageHeader .listFunctions {
     display: flex;
     justify-content:flex-end;
     gap: 5px;
     
    
  }
*/
